**LIST**

Q1

In [ ]:
Userinput = input("Enter elements: ")
list = Userinput.split()

if len(list) % 2 == 0:
    start = 0
else:
    start = 1

print("Alternate elements:")
for i in range(start, len(list), 2):
    print(list[i])

Enter elements: 1 2 3 4 5 6
Alternate elements:
1
3
5

Q2

In [ ]:
Userinput = input("Enter elements: ")
list = Userinput.split()

Rev_list = []
for i in range(len(list) - 1, -1, -1):
    Rev_list.append(list[i])

print("Reversed:")
for element in Rev_list:
    print(element)

Enter elements: 1 2 3
Reversed:
3
2
1

Q3

In [ ]:
Userinput = input("Enter elements: ")
list = Userinput.split()
Lar_num = list[0]   #assuming first element is the largest

for num in list:
    if float(num) > float(Lar_num):
        Lar_num = num

print("The Largest number:", Lar_num)

Enter elements:  9 5 4 8
The Largest number: 9

Q4

In [ ]:
Userinput = input("Enter elements: ")
list = Userinput.split()
Last_element = list[-1]

for i in range(len(list) - 1, 0, -1):
    list[i] = list[i - 1]

list[0] = Last_element
print("Rotated list: ", list)

Enter elements: 5 7 8
Rotated list:  ['8', '5', '7']

Q5

In [ ]:
print("Enter the String: ")
text = input()

print("Enter a Word to Delete: ")
word = input()

text = text.replace(word, "")

print(text)

Enter the String:
I am Rohail
Enter a Word to Delete:
am
I  Rohail

Q6

In [ ]:
date = input("Enter a date in the format mm/dd/yyyy: ")
month, day, year = date.split('/')

if month == '01':
    month_name = 'January'
elif month == '02':
    month_name = 'February'
elif month == '03':
    month_name = 'March'
elif month == '04':
    month_name = 'April'
elif month == '05':
    month_name = 'May'
elif month == '06':
    month_name = 'June'
elif month == '07':
    month_name = 'July'
elif month == '08':
    month_name = 'August'
elif month == '09':
    month_name = 'September'
elif month == '10':
    month_name = 'October'
elif month == '11':
    month_name = 'November'
elif month == '12':
    month_name = 'December'

print(month_name, day + ',', year)

Enter a date in the format mm/dd/yyyy: 03/12/2021
March 12, 2021

Q7

In [ ]:
Input = input("Enter a sentence: ")
words = Input.split()

Capital_Words = ' '.join(word.capitalize() for word in words)

print("Capitalized sentence:", Capital_Words)

Enter a sentence: stop and smell the roses
Capitalized sentence: Stop And Smell The Roses

Q8

In [ ]:
A = [[6,5,3],         #The given matrix in question wasnt clear to me
       [7,4,2],
       [6,3,1]]
row = 0
for i in A:
    sum = 0
    for j in i:
        sum += j
    row += 1
    print(f"Sum of Row {row}: {sum}")

Sum of Row 1: 14
Sum of Row 2: 13
Sum of Row 3: 10

Q9

In [ ]:
A = [[1,2,3],
        [7,8,9]]

B = [[4,5,6],
        [7,8,9]]

if len(A) != len(B) or len(A[0]) != len(B[0]):
    print("Error!")
else:
    C = []

    for i in range(len(A)):
        temp = []
        for j in range(len(A[0])):
            temp.append(A[i][j] + B[i][j])
        C.append(temp)

    print("Matrix sum:")
    for row in C:
        print(row)

Matrix sum:
[5, 7, 9]
[14, 16, 18]

Q10

In [ ]:
A = [[1, 2],
        [3, 4]]

B = [[5, 6],
        [7, 8]]

if len(A[0]) != len(B):
    print("Error!")
else:
    C = []

    for i in range(len(A)):
        row = []
        for j in range(len(B[0])):
            sum = 0
            for k in range(len(B)):
                sum += A[i][k] * B[k][j]
            row.append(sum)
        C.append(row)

    print("Matrix multiplication:")
    for row in C:
        print(row)

Matrix multiplication:
[19, 22]
[43, 50]

**LOOPS**

1

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2

In [ ]:
i = 20
while i >= 1:
    i -= 1
    print("Result: ", i)

Result:  19
Result:  18
Result:  17
Result:  16
Result:  15
Result:  14
Result:  13
Result:  12
Result:  11
Result:  10
Result:  9
Result:  8
Result:  7
Result:  6
Result:  5
Result:  4
Result:  3
Result:  2
Result:  1
Result:  0

3

In [ ]:
for i in range(1,11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

4

In [ ]:
num = int(input("Enter number: "))
for i in range(1,num+1):
    print(i)

Enter number: 6
1
2
3
4
5
6

6

In [ ]:
for i in range(5):
    print("Happy Birthday")

Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday
Happy Birthday

7

In [ ]:
number = int(input("Enter a number: "))
for num in range(1, number + 1):
    print(num * num, end=" ")

Enter a number: 6
1 4 9 16 25 36

5

In [ ]:
num = int(input("Enter number: "))
for j in range(1, num+1):
    if j % 2 != 0:
        print(j)

Enter number: 5
1
3
5

8

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

9

In [ ]:
a = 3
d = 4

for i in range(8):
    term = a + i * d
    print(term, end=" ")

3 7 11 15 19 23 27 31

10

In [ ]:
a = 2
r = 3

for i in range(6):
    term = a * (r ** i)
    print(term, end=" ")

2 6 18 54 162 486

11

In [ ]:
num = int(input("Enter a positive integer: "))
sum = 0

for i in range(1, num + 1):
    sum += i

print("The sum of integers upto", num, "is:", sum)

Enter a positive integer: 8
The sum of integers upto 8 is: 36

12

In [ ]:
num = int(input("Enter a positive integer: "))
reciprocals = 0

for i in range(1, num+1):
    reciprocals += 1 / i

print("The sum of reciprocals from: ", round(reciprocals,2))

Enter a positive integer: 5
The sum of reciprocals from:  2.28

13

In [ ]:
total = 0
for i in range(5):
    number = int(input("Enter a number: "))
    total += number

print("The final running total:", total)

Enter a number: 10
Enter a number: 15
Enter a number: 35
Enter a number: 40
Enter a number: 50
The final running total: 150

14

In [ ]:
num = int(input("Enter an integer: "))

if num < 0:
    print("No factorial for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    factorial = 1
    for i in range(1, num + 1):
        factorial *= i

    print(f"The factorial of {num} is: {factorial}")

Enter an integer: 6
The factorial of 6 is: 720

15

In [ ]:
b = int(input("Enter the number: "))
e = int(input("Enter the number: "))
result = 1

if e > 0:
    for i in range(e):
        result *= b
elif e < 0:
    for i in range(-e):
        result /= b

print(f"The result of {b} power {e} is {round(result,2)}")

Enter the number: 3
Enter the number: -3
The result of 3 power -3 is 0.04